.auth-layout-container {
  width: 100vw;
  background: url("../assets/background-yellow.jpg") no-repeat center/cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
